﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Lab01_1212446_GIT.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>1212446</h1>
        <h1>Trương Mai Minh Trí</h1>
        <h1>tritmm@gmail.com</h1>
        <img src="Images/hinh.jpg" alt="Smiley face" />
       
    </div>
    </form>
</body>
</html>
